@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

/*********************************************************** CLASSES *****************************************************/

.container {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  z-index: 1;
}

.container:before, .container:after {
  content: "";
  clear: both;
  display: block;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  color: #1a1a1a;
  font-size: 36px;
  font-weight: 300;
  margin: 0 0 15px;
  padding: 0;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #EF3B3A;
}

.form {
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.form input {
  background: #f2f2f2;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0 0 15px;
  outline: 0;
  padding: 15px;
  width: 100%;
}

.form button {
  background: #000000;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  outline: 0;
  padding: 15px;
  text-transform: uppercase;
  transition: all 0.5 ease;
  width: 100%;
  -webkit-transition: all 0.3 ease;
}

.form .message {
  color: #b3b3b3;
  font-size: 12px;
  margin: 15px 0 0;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.google-btn {
  align-self: center;
  background-color: #fcfcfc;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
  height: 42px;
  margin-left: 40px;
  max-width: 184px;
  min-width: 184px;
  transition: all 400ms ease 0s;
  user-select: none;
  width: 80%;
}

.google-btn .google-icon-wrapper {
  border-radius: 2px;
  height: 40px;
  margin-top: 1px;
  margin-left: 1px;
  position: absolute;
  user-select: none;
  width: 40px;
}

.google-btn .google-icon-svg {
  margin-top: 11px;
  margin-left: 11px;
  height: 18px;
  user-select: none;
  width: 18px;
}

.google-btn .btn-text {
  color: #757575;
  float: right;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: .2px;
  margin: 11px 14px 40px 40px;
  user-select: none
}

.google-btn:hover {
  box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
  user-select: none
}

.google-btn:active {
  background: #F8F8F8;
  box-shadow: 0 1px 1px #757575;
  color: #fff;
  user-select: none
}

.header {
  text-align: center;
}

.login-page {
  margin: auto;
  padding: 8% 0 0;
  width: 360px;
}

.title {
  color: #fff;
  text-align: center;
}